@{
 if(!WebSecurity.IsAuthenticated){
     Response.Redirect("default");
 }   

 var currentPassword="";
 var newPassword1="";
 var newPassword2="";

 Validation.RequireField("currentPassword","*");
 Validation.RequireField("newPassword1","*");
 Validation.RequireField("newPassword2","*");
 Validation.Add("newPassword1", Validator.EqualsTo("newPassword2","Las contraseñas no coinciden"));

 if(IsPost){
     currentPassword = Request["currentPassword"];
     newPassword1 = Request["newPassword1"];
     newPassword2 = Request["newPassword2"];

     if(Validation.IsValid()){
         var currentUser = WebSecurity.CurrentUserName;
         if(WebSecurity.ChangePassword(currentUser,currentPassword,newPassword1)){
             Response.Redirect("default");
         } else {
             Validation.AddFormError("No ha sido posible cambiar la contraseña");
         }
     }

     
 }
}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="@Href("~/styles.css")" />
    </head>
    <body>
        <h2>Cambio de Contraseña</h2>
        @Html.ValidationSummary()
        
        <form method="post">
            <div>
                @Html.Label("Contraseña Actual:","currentPassword")<br>
                @Html.Password("currentPassword",currentPassword)
                @Html.ValidationMessage("currentPassword")
            </div>
            <div>
                @Html.Label("Contraseña nueva 1:","newPassword1")<br>
                @Html.Password("newPassword1",newPassword1)
                @Html.ValidationMessage("newPassword1")
            </div>
            <div>
                @Html.Label("Repetir contraseña nueva:","newPassword2")<br>
                @Html.Password("newPassword2",newPassword2)
                @Html.ValidationMessage("newPassword2")
            </div>
            <div>
                <input type="submit" value="Registrar">
            </div>
        </form>
    </body>
</html>
